<html>

  <head>
  <title>Earthquake Analysis and Visualisaton</title>
  <style type ="text/css" >
   .footer{ 
       position: absolute;     
       text-align: right;
       font-size: 12px;
       color: "green";
       bottom: 10px; 
       right: 10px;
       width: 100%;
   }  
  </style>
  </head>

  <body bgcolor="grey">

  <h1>Earthquake Analysis and Visualisaton</h1>

  <p>This shiny application implemented in R is an interactive system used for both visualization and exploratory analysis of earthquake data. Exploratory data analysis is an approach to data analysis for summarizing and visualizing the important characteristics of a data set. Data visualization is useful for more than just exploratory data analysis. It is an excellent way of presenting complex relationships in data to an audience that is not statistically sophisticated. A good picture may say far more than the results of any numeric analysis</p>

<p>The earthquake data are being downloaded online, in  real time, from <a href="URL">http://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php</a> in geoJson format. Then the application manipulate them in order to take the final dataset that includes only the necessary variables; namely Local.Time, magnitude, significance, place, longitude, langitude and depth. </p>

<p>The app provides an interactive map, where the earthquakes are visualised. The user can select the date range and the magnitudes of the earthquakes he/she wants to visualise. Different size and colour circle markers are shown  the point of each earthquake on the map.</p>

<p>Graphs</p>

<p>Data table</p>

<div class="footer">Created by<br>Chris Kechagias and Kyriakos Katsarakis</div>



  </body>
</html>
